body{
  background-color: #F5F8FA;
}


img {
  max-width: 250px;
}

/** TWEET COMPONENT **/

.tweet{
  padding: 10px;
  border-top: 1px solid #e6ecf0;
}


.tweet .tweet-link{
  position: absolute;
  display: block;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}

.tweet:hover{
  background-color: #F5F8FA;
  cursor: pointer;
}

.tweet.detail{
  border-top: none;
}

.tweet.detail:hover{
  background-color: #FFF;
  cursor: default;
}


.tweet .tweet-img{
  max-width: 100%;
  border-radius: 5px;
}

.tweet .tweet-avatar{
  border: 1px solid #333;
  display: inline-block;
  width: 45px;
  height: 45px;
  position: absolute;
  /*left: 25px;*/
  border-radius: 5px;
  text-align: center;
}

.tweet .tweet-body{
  margin-left: 55px;
}

.tweet .tweet-body .tweet-name{
  color: #333;
}

.tweet .tweet-body .tweet-name{
  font-weight: bold;
  text-transform: capitalize;
  margin-right: 10px;
  z-index: 10000;
}

.tweet .tweet-body .tweet-name:hover{
  text-decoration: underline;
}

.tweet .tweet-body .tweet-username{
  text-transform: lowercase;
  color: #999;
}

.tweet.detail .tweet-body .tweet-user{
  margin-left: 70px;
}

.tweet.detail .tweet-body{
  margin-left: 0px;
}

.tweet.detail .tweet-body .tweet-name{
  font-size: 18px;
}

.tweet-detail-responses .tweet.detail .tweet-body .tweet-message{
  font-size: 16px;
}

.tweet.detail .tweet-body .tweet-username{
  display: block;
  font-size: 16px;
}

.tweet.detail .tweet-message{
  position: relative;
  display: block;
  margin-top: 25px;
  font-size: 26px;
  left: 0px;
}

.reply-icon,
.like-icon{
  color: #999;
  transition: 0.5s;
  padding-right: 40px;
  font-weight: bold;
  font-size: 18px;
  z-index: 99999;
}

.like-icon:hover{
  color: #E2264D;
}

.like-icon.liked{
  color: #E2264D;
}

.reply-icon:hover{
  color: #1DA1F2;
}

.like-icon i{
  color: inherit;
}

.reply-icon i{
  color: inherit;
}


/** SIGNUP COMPONENT **/
#signup{
  position: relative;
  padding-top: 150px;
  height: auto;
}

#signup h1{
  font-size: 27px;
  margin-bottom: 30px;
}

#signup .signup-form{
  position: relative;
  display: block;
  width: 400px;
  margin: 0 auto;
}

#signup input{
  margin-bottom: 30px;
}

#signup .signup-form button{
  background-color: #1DA1F2;
  padding: 10px;
  outline: none;
  border: none;
}

#signup input[type="text"],
#signup input[type="password"]{
  outline: none;
  border: 1px solid #999;
  font-size: 18px;
  width: 100%;
  padding: 8px;

  border-radius: 5px;
}

#signup button{
  display: block;
  padding: 5px;
  width: 100%;

}

#signup .user-test{
  margin-top: 30px;
  padding: 10px;
  border-radius: 5px;
}


#signup #usernameLabel{
  display: inline-block;
  position: absolute;
  width: 100%;
  padding: 10px;
}

#signup #usernameLabel.ok{
  color: #1DA1F2;
}

#signup #usernameLabel.fail{
  color: tomato;
}

#signup #submitBtnLabel{
  display: block;
  text-align: center;
  color: red;
  margin-top: 20px;
}




/** Profile Component **/

.twitter-panel{
  background-color: #fff;
  background-clip: inherit;
  border: 1px solid #e6ecf0;
  border-radius: 5px;
  line-height: inherit;
}

#suggestedUsers,
#profile{
  max-width: 350px;
}

#profile{
  float: right;
  width: 100%;
  max-width: 350px;
}

#profile{
  overflow: hidden;
}

#profile .profile-banner{
}

#profile .profile-banner a{
  min-height: 100px;
  background-size: cover;
  display: block;

}

#profile .profile-body{
  position: relative;
  padding-top: 5px;
  padding-bottom: 10px;
}

#profile .profile-body img{
  position: absolute;
  display: inline-block;
  border: 3px solid #fafafa;
  border-radius: 8px;
  height: 75px;
  width: 75px;
  left: 10px;
  top: -30px;
}

#profile .profile-body > a{
  margin-left: 90px;
  color: inherit;
}

 .profile-body > a:hover{
  text-decoration: underline;
}

#profile .profile-resumen a {
  color:#657786;
}

#profile .profile-resumen a:hover{
  color: #1B95E0;
}

#profile .profile-resumen a .profile-resumen-title{
  font-size: 10px;
  margin: 0px;
  color:inherit;
  transition: 0.5s;
}

#profile .profile-resumen a .profile-resumen-value{
  color: #1B95E0;
  font-size: 18px;
}

#profile .profile-name,
#profile .profile-username{
  display: block;
  margin: 0px;
}

#profile .profile-username{
  color: #66757f;
}

#profile .profile-name{
  font-weight: bold;
  font-size: 18px;
}

/** SuggestedUsers Component **/
#suggestedUsers{
  padding: 10px;
}


#suggestedUsers .su-title{
  font-size: 18px;
  color: #66757f;
  margin: 0px;
}

#suggestedUsers .sg-item{
  padding: 5px 0px;
}

#suggestedUsers .sg-item .su-avatar{
  position: relative;
}

#suggestedUsers .sg-item .su-avatar img{
  display: inline-block;
  position: absolute;
  width: 48px;
  height: 48px;
  border-radius: 10px;
  top: 3px;
}

#suggestedUsers .sg-item .sg-body{
  position: relative;
  display: block;
  margin-left: 55px;

}

#suggestedUsers .sg-item .sg-body .sg-name{
  color: #333;
  font-weight: bold;
  padding-right: 5px;
}

#suggestedUsers .sg-item .sg-body .sg-username{

}

#suggestedUsers .sg-item .sg-body i{
  color: #fafafa;
}


/** Reply component **/

.reply{
  position: relative;
  padding: 10px;
  border-top: 1px solid #e6ecf0;
  background-color: #E8F4FB;
}

.reply .reply-avatar{
  display: inline-block;
  position: absolute;
  border: 1px solid #333;
  border-radius: 5px;
  height: 35px;
  width: 35px;
  left: 40px;
  text-align: center;
}

.reply .reply-body{
  margin-left: 80px;

}

.reply .reply-body textarea{
  height: 35px;
  display: block;
  width: 100%;
  border: 1px solid #DDE2E6;
  outline: none;
  padding-left: 10px;
  padding-right: 10px;
  resize: none;
  border-radius: 5px;

}

.reply .reply-body .reply-selected{
  height: 70px;
}

.reply .reply-body .image-box{
  display: block;
  position: relative;
  color: #F1F1F1;
  padding: 10px;
  border-left: 1px solid #DDE2E6;
  border-right: 1px solid #DDE2E6;
  border-bottom: 1px solid #DDE2E6;
  border-radius: 0 0 5px 5px;
  max-height: 250px;
  width: 100%;
}

.tweet-event{
  position: absolute;
  display: block;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 0;
}

.reply .reply-body .image-box img{
  display: inline-block;
  position: relative;
  max-height: 230px;
  border-radius: 5px;
  max-width: 100%;
}


.reply .reply-controls{
  padding: 10px 0px 0px 0px;
  text-align: right;
  margin-left: 55px;
}

.reply .reply-controls button{
  font-size: 18px;
  font-weight: bold;
}

.reply .reply-controls button i{
  color: inherit;
  font-size: inherit;
}

.reply .reply-controls .char-counter{
  margin-right: 10px;
  color: #333;
}

input[type="file"]{
  display: none;
}


/** Toolbar componente **/

.bs-test{
  display: inline-block;
  position: absolute;
}

#dashboard{
  margin-top: 60px;
}

.navbar-brand{
  font-size: 24px;
  position: absolute;
  left: 50%;
  transform: translateX(50%);
}

.navbar-brand i{
  color: #1DA1F2;
}


.navbar{
  background-color: #FFFFFF;
  height: 48px;
}

.navbar-nav>li>a{
  padding: 0px;
}

.navbar-avatar{
  height: 32px;
  width: 32px;
  border-radius: 50%;
  margin: 9px 10px;
}

#menu{
  padding: 0px;
  margin: 0px;
  position: relative;
}

#menu li{
  display: inline-block;
  color: #666;
  position: relative;
}

#menu li::before{
  content: "";
  position: absolute;
  display: block;
  left: 0px;
  right: 0px;
  height: 0px;
  background-color: #1B95E0;
  bottom: -2px;
  z-index: 1000;
  transition: 0.5s;
}



#menu li:hover::before{
  height: 5px;
}

#menu li:hover{
  color: #1DA1F2;
}


#menu li.selected::before{
  height: 5px!important;
}

#menu li.selected{
  color: #1DA1F2;
}


#menu li a{
  display: inline-block;
  padding: 13px 18px 0px 0px;
  font-size: 12px;
  font-weight: bold;
  color: inherit;
}

#menu li a:focus{
  text-decoration: none;
}


#menu li a span{
  color: inherit;
}


#menu li .menu-item{
  color: inherit;
  padding: 0px 10px;
}

#menu li .menu-item-icon{
  font-size: 18px;
  font-size: 24px;
  vertical-align: sub;
  padding-right: 5px;
  color: inherit;
}

@media (max-width: 576px) {
  #menu li .menu-item{
    padding: 0px 5px;
  }

  #menu li a{
    padding: 13px 0px 0px 0px;
    margin-right: 5px;
  }
}


/** UserPage **/

.app-container{
  margin-top: 50px;
}

#user-page{
}

#user-page .user-header{
  margin-bottom: 10px;
}

#user-page .user-header .user-banner{
  position: relative;
  background-color: #fafafa;
  height: 280px;
  background-size: cover;
  background-position: center;
}

#user-page .user-header .select-banner{
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  top: 0px;
  padding-top: 100px;
  font-size: 20px;
  font-weight: bold;
}

.select-banner:hover{
  padding-top: 90px;
  border: 10px solid tomato;
}

#user-page .user-header .user-summary{
  border-bottom: 1px solid #dadada;
  position: relative;
}

#user-page .user-header .user-summary .user-avatar{
  position: absolute;
  display: inline-block;
  height: 200px;
  width: 200px;
  border-radius: 10px;
  left: 50px;
  top: -100px;
  overflow: hidden;
  border-radius: 12px;
  box-sizing: content-box;
  border: 5px solid #fafafa;
  box-shadow: 0 0 3px #999;
}

#user-page .user-avatar .avatar-box{
  position: relative;
  height: 100%;
  width: 100%;
}

#user-page .user-header .user-summary .user-avatar img{
  height: 100%;
  width: 100%;
}

.select-avatar{
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  top: 0px;
  padding-top: 50px;
  font-size: 20px;
  font-weight: bold;
}

.select-avatar:hover{
  padding-top: 40px;
  border: 5px solid tomato;
}

#user-page .user-avatar{
  display: inline-block;
  height: 200px;
  width: 200px;
  border-radius: 10px;
  left: 50px;
  top: -100px;
  overflow: hidden;
  border-radius: 12px;
  box-sizing: content-box;
  border: 5px solid #fafafa;
  box-shadow: 0 0 3px #999;
}

#user-page .user-avatar img{
  height: 100%;
  width: 100%;
}

#user-page .user-header .user-summary .user-summary-menu{
  margin: 0px;
  padding: 0px;
  display: inline-block;
}

#user-page .user-header .user-summary .user-summary-menu li{
  text-align: center;
  padding: 0px;
  display: inline-block;
  position: relative;

}

#user-page .user-header .user-summary .user-summary-menu li a{
  padding: 15px 15px 0px;
  display: inline-block;
  position: relative;
}

#user-page .user-header .user-summary .user-summary-menu li a::before{
  content: "";
  display: block;
  position: absolute;
  left: 0px;
  right: 0px;
  height: 0px;
  bottom: 0px;
  background: #1B95E0;
  transition: 0.3s;

}

#user-page .user-header .user-summary .user-summary-menu li a:hover::before{
  display: block;
  height: 5px;
}

#user-page .user-header .user-summary .user-summary-menu li a.selected::before{
  display: block;
  height: 5px;
}

#user-page .user-header .user-summary .user-summary-menu li .summary-label{
  font-size: 11px;
  margin: 0px;
}

#user-page .user-header .user-summary .user-summary-menu li .summary-value{
  font-weight: bold;
  font-size: 18px;
  color: #666;

}

#user-page .user-header .user-summary .edit-button{
  margin: 15px 0px;
  float: right;
}

.tweet-footer{
  padding-top: 10px;
}

#user-info{
  top: -180px;
  position: absolute;
  display: block;
  position: relative;
  padding: 10px;
  margin-left: 35px;
  max-width: 350px;
  width: 280px;
  max-width: 100%;
  float: right;

}

#user-info .user-info-edit{
  padding: 10px;
  background-color: #E8F4FB;

}

#user-info .user-info-edit .user-info-username{
  color: #1B96E0;
  margin-top: 10px;
}

#user-info .user-info-edit textarea,
#user-info .user-info-edit input{
  display: block;
  width: 100%;
  border: 1px solid #A3D4F2;
  outline: none;
  border-radius: 5px;
  padding: 5px;
}

#user-info .user-info-edit textarea{
  resize: none;
  height: 220px;
}

#user-info .user-info-name{
  font-size: 22px;
  font-weight: bold;
  margin: 0px;
}

#user-info .user-info-username{
  font-size: 14px;
}

#user-info .user-info-description{

}

@media (min-width: 576px) {
  #user-page .user-avatar{
    width: 150px;
    height: 150px;
  }

  #user-info{
    top: -150px;
  }
}

@media (min-width: 1200px) {
  #user-info{
    top: -180px;
  }

  #user-page .user-avatar{
    width: 200px;
    height: 200px;
  }
}

@media (min-width: 1000px) {
  #user-page .user-header .user-banner{
    height: 300px;
  }
}

@media (min-width: 1400px) {
  #user-page .user-header .user-banner{
    height: 400px;
  }
}

@media (min-width: 1800px) {
  #user-page .user-header .user-banner{
    height: 500px;
  }
}

/** MyTweets component **/
.tweet-container-header{
  padding: 10px;
  font-size: 19px;
}


/** UserCard component **/
.user-card{
  margin-bottom: 20px;
  position: relative;
  border: 1px solid #E6ECF0;
  border-radius: 5px;
  overflow: hidden;
}

.user-card .user-card-banner{
  background-position: center;
  background-size: cover;
  height: 100px;
  border-bottom: 1px solid ##E6ECF0;
}

.user-card .user-card-avatar{
  width: 70px;
  height: 70px;
  border-radius: 5px;
  position: absolute;
  top: 70px;
  left: 10px;
}


.user-card .user-card-body{
  padding-top: 100px;
  background-color: #FFF;
  padding: 10px 10px 20px;

}

.user-card .user-card-body .user-card-username p{
  font-size: 12px;
  color: #66757f;
}

.user-card .user-card-body .user-card-name{
  font-weight: bold;
  font-size: 18px;
  display: block;
  position: relative;
  margin-top: 40px;
}

.user-card .user-card-body .user-card-name p {
  margin: 0px;
}

.user-card .user-card-body .user-card-description{
  font-size: 14px;
  color: #66757f;
}


.user-card .user-card-body .user-card-username:hover,
.user-card .user-card-body .user-card-name:hover{
  text-decoration: underline;
}


/** CSSTransactionGroup **/

.card-enter{
  opacity: 0;
}

.card-enter.card-enter-active{
  opacity: 1;
  transition: opacity 500ms ease-in;
}

/*.card-leave {
  opacity: 1;
  transition: opacity 300ms ease-in;
}

.card-leave.card-leave-active {
  opacity: 0.01;

}

.card-appear {
  opacity: 0.01;
}

.card-appear.card-appear-active {
  transition: 0.5s;
  transform: scale(1.2);
  margin: 30px;
}*/

html.modal-mode{  
  overflow-y: hidden;  
}  
  
.fullscreen{  
  position: fixed;  
  background-color: rgba(0,0,0,0.5);  
  top: 0;  
  right: 0;  
  left: 0;  
  height: auto;  
  z-index: 999999;  
  overflow: auto;  
  bottom: 0;  
}  
  
.fullscreen .tweet-detail{  
  position: relative;
  max-width: 700px;  
  overflow: hidden;  
  border-radius: 5px;  
  margin: auto;  
  margin-top: 50px;  
  margin-bottom: 100px;  
  width: 60%;  
  background-color: #fff;  
}  
  
.fullscreen .tweet-detail .tweet-close{  
  position: absolute;  
  display: inline-block;  
  right: 15px;  
  top: 10px;  
}  
  
.fullscreen .tweet-detail .tweet-close:hover{  
  cursor: pointer;  
}  
  
.tweet-detail .tweet-detail-responses{  
  list-style: none;  
  margin: 0px;  
  padding: 0px;  
}  
  
.tweet-detail .tweet-details-reply{  
  border-bottom: 1px solid #E6ECF0;  
}  

  